body{
    background-color: black;
    font-family: Helvetica;
    color: #fff5ee;
    opacity: 0.9;
    
    text-align: center;
 
}

.wrap{
    max-width: 1100px;
    margin: 0 auto;
}

header{
    height: 69px;
    border-bottom: 1px solid seashell;
}


.header-wrap{
    margin: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.header-wrap img{
    height: 50px;
}


nav ul li{
    display: inline;
    text-decoration: underline;
    list-style-type: none;
    
}

li{
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: seashell;
}

section{
    margin-bottom: 80px;
}
.flexbox{
    display: flex;
    justify-content: space-around;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}
.flexbox--col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.mission-background{
    
    margin: 0 auto;    
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mission-background .flexbox_items {
    background-color: black;
    display: inline;
    width: 100%;
    
}

.location-background .flexbox_items{
    background-color: black;
    margin: 15px;
    width: 300px;
}

.mission-background{
    background-image: url('../img/img-mission-background.jpg');
    height: 700px;
}

.location-background{
    background-image: url('../img/img-locations-background.jpg');
    height: 500px;    
    
}


.flexbox_items img{
    width: 300px;
    height: 200px;
    margin: 10px 0;
}

footer{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.copyright{
    text-align: left;
    margin: 0 0 0 15px;
}



